            <nav id="nav" class="span3">
            	<h3 style="text-align: center;">교육과정</h3>
                <ul class="nav nav-tabs nav-stacked" style="text-align: center;"> <!-- nav-tabs클레스에서 마우스 오버기능 작동 -->
                    <li><a href="/Curriculum">교과과정</a></li>
                    <li><a href="/Courses">설계/대체 교과목</a></li>
                    <li><a href="/Required">전공/인증 필수</a></li>
                    <li><a href="/Summary">전공교과목 개요</a></li>
                    <li><a href="/Standard">공학인증 졸업기준</a></li>
                    <li><a href="/SysGraph">이수체계도</a></li>
                </ul>
            </nav>
