            <nav id="nav" class="span3">
            	<h3 style="text-align: center;">학과소개</h3>
                <ul class="nav nav-tabs nav-stacked" style="text-align: center;"> <!-- nav-tabs클레스에서 마우스 오버기능 작동 -->
                    <li><a href="/Greetings">학과장 인사말</a></li>
                    <li><a href="/History">학과역사</a></li>
                    <li><a href="/Introduction">학과소개</a></li>
                    <li><a href="/Goals">교육목표</a></li>
                    <li><a href="/Procedure">교육목표 수립 및 절차</a></li>
                    <li><a href="/Employment">취업분야 및 취업률</a></li>
                </ul>
            </nav>
