            <nav id="nav" class="span3">
            	<h3 style="text-align: center;">대학원</h3>
                <ul class="nav nav-tabs nav-stacked" style="text-align: center;"> <!-- nav-tabs클레스에서 마우스 오버기능 작동 -->
                    <li><a href="/Signal_lab">통신 신호처리 실험실</a></li>
                    <li><a href="/Ubiquitous_lab">유비쿼터스 네트워크/컨버전스</a></li>
                    <li><a href="/Software_lab">소프트웨어공학 실험실</a></li>
                    <li><a href="/Internet_lab">인터넷 실험실</a></li>
                    <li><a href="/Network_lab">광대역 융합 네트워크 실험실</a></li>
                    <li><a href="/Robotics_lab">정보보호 및 로보틱스 연구실</a></li>
                </ul>
            </nav>
