            <nav id="nav" class="span3">
            	<h3 style="text-align: center;">구성원</h3>
                <ul class="nav nav-tabs nav-stacked" style="text-align: center;"> <!-- nav-tabs클레스에서 마우스 오버기능 작동 -->
                    <li><a href="/Professor">교수소개</a></li>
                    <li><a href="/Assistant">조교소개</a></li>
                    <li><a href="/Student">학생회소개</a></li>
                    <li><a href="/Representative">과대표소개</a></li>
                </ul>
            </nav>
