            <nav id="nav" class="span3">
            	<h3 style="text-align: center;">커뮤니티</h3>
                <ul class="nav nav-tabs nav-stacked" style="text-align: center;"> <!-- nav-tabs클레스에서 마우스 오버기능 작동 -->
                    <li><a href="/cicposts">학과공지</a></li>
                    <li><a href="/imgposts">사진게시판</a></li>
                    <li><a href="/freeposts">자유게시판</a></li>
                    <li><a href="/dataposts">자료실</a></li>
                    <li><a href="/eventposts">행사/공모전</a></li>
                    <li><a href="/graduateposts">졸업게시판</a></li>
                    <li><a href="/jobposts">취업게시판</a></li>
                    <li><a href="/faqposts">FAQ</a></li>
                </ul>
            </nav>

